*{
	padding: 0;
	margin: 0;
	font-family: 'Cabin';
	letter-spacing: 1px;
}
button{
	border: none;
	outline: none;
	background-color: transparent;
}
.nav{
	user-select: none;
	z-index: 10;
	position: sticky;
	top: 0;
	max-width: 100vw;
	background-color: #00000078;
	padding: 17px;
	padding-left: 120px;
	padding-right: 120px;
	box-sizing: padding-box;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.nav button{
	cursor: default;
	position: fixed;
	top: 30px;
	left: 30px;
	font-size: 23px;
	color: #ffffffc0;
}
.nav a{
	text-decoration: none;
	color: #ffffffc0;
	font-size: 23px;
	cursor: pointer;
}
.navbtn a{
	box-sizing: padding-box;
	padding-bottom: 5px;
	font-size: 18px;
	margin-left: 15px; margin-right: 15px;
}
.navbtn a:hover{
	border-bottom: 1px solid #ffffffc0;
}
#curr{
	border-bottom: 1px solid #ffffffc0;
}
.subnav{
	display: none;
	position: fixed;
	z-index: 10;
	right: 120px;
	list-style: none;
	background-color: #000000a0;
	padding: 18px;
	line-height: 31px;
	border-radius: 2px;
	box-shadow: -3px 3px 6px #00000030;
}
.subnav a{
	font-size: 17px;
	text-decoration: none;
	color: #ffffff78;
}
.subnav i{
	width: 25px;
}
.menu{
	user-select: none;
	padding: 50px;
	z-index: 20;
	position: fixed;
	transition: 0s;
	right: 100vw;
	top: 0;
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	background-color: #000000c0;
	line-height: 70px;
	font-size: 25px;
/* 	opacity: 0; */
}
.menu a{
	text-decoration: none;
	color: #ffffffc0;
	cursor: default;
}
.menu hr{
	border: none;
	width: calc(100vw - 90px);
	background-color: #ffffff30;
	height: 2px;
}
.menu button{
	cursor: default;
	color: #ffffffc0;
	font-size: 23px;
	position: absolute;
	left: calc(100vw - 70px);
}
.submenu{
	display: none;
	list-style: none;
	line-height: 31px;
}
.submenu i{
	width: 28px;
}
.submenu a{
	cursor: default;
	font-size: 18px;
	color: #ffffff78;
}
.front{
	margin-top: -100px;
	background: url(img/nampicblur.jpg);
	background-size: 100% 100%;
	padding-top: 140px;
	padding-bottom: 65px;
	font-weight: 600;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.front *{
	margin-left: 35px;
	margin-right: 35px;
}
.front .name{
	letter-spacing: 2px;
	color: #fffffff0;
	padding-left: 30px;
	height: max-content;
	font-size: 55px;
	width: 340px;
	border-left: 2px solid #ffffffc0;
}
.front .name1{
	letter-spacing: 2px;
	margin-top: 30px;
	text-align: center;
	color: #fffffff0;
	padding-bottom: 20px;
	height: max-content;
	font-size: 43px;
	width: 290px;
	border-bottom: 2px solid #ffffffc0;
}
.ftr{
	background-color: #181818;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 70px;
	font-family: 'Cabin';
	line-height: 39px;
}
.copy{
	font-size: 16px;
	color: #ffffffc0;
}
.links{
	font-size: 18px;
	line-height: 30px;
	display: inline-flex;
	list-style: none;
}
.links a{
	text-decoration: none;
	color: #fff;
	margin-left: 10px;
	margin-right: 10px;
}
.links a:hover{
}
.section{
	text-align: center;
	padding: 30px;
	padding-bottom: 45px;
	background-color: #f1f1ea;
	color: #181818;
	box-sizing: border-box;
}
h1{
	text-align: left;
	font-size: 25px;
	width: 80%;
	margin: 0 auto;
	border-bottom: 1px solid #181818;
	padding: 15px;
}
.about img{
	margin-top: 35px;
	border-radius: 50%;
}
.about p{
	font-size: 18px;
	width: 70%;
	max-width: 650px;
	margin: 30px auto;
	margin-bottom: 0;
}
.skillsets{
	padding: 30px;
	padding-bottom: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	box-sizing: border-box;
	width: 85vw;
	max-width: 550px;
	margin: 0 auto;
}
.sk{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #dfdfd8;
/* 	background-image: linear-gradient(-70deg, #dfdfd8 17%, #e5e5de 17%, #e5e5de 39%, #dfdfd8 39%); */
	text-align: center;
	height: 100px; width: 100px;
	border-radius: 20px;
	margin: 23px 18px 0 18px;
	opacity: 0;
	overflow: hidden;
}
.sk span{
	position: fixed;
	width: 100%;
	text-align: center;
	font-size: 21px;
	font-weight: bold;
/* 	text-shadow: -2px 2px 4px #00000060; */
	user-select: none;
	transition: 0.2s;
}
.sk i{
	font-size: 65px;
	color: #efefe8;
}
.sk:hover i{
	font-size: 71px;
	color: #fcfcf5;
}
.sk:hover span{
	animation: 0.2s showsk linear;
	color: transparent;
	transform: translateX(-40px);
}
@keyframes showsk{
	0%{color: #181818; transform: translateX(0px);}
	100%{color: transparent; transform: translateX(80px);}
}
.proj{
	margin-top: 35px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}
.proj *{
	margin-left: 10px;
	margin-right: 10px;
}
.proj div{
	box-sizing: border-box;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 40%;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.proj a{
	font-weight: bold;
	padding: 3px;
	width: max-content;
	text-decoration: none;
	color: #181818;
	border-bottom: 1px solid #181818;
}

@media (min-width: 1200px){
	.nav button{
		display: none;
	}
	.name{
		transform: translateY(135px);
	}
	.name1{
		display: none;
	}
}
@media (max-width: 1199px) and (min-width: 1025px){
	.nav a{
		cursor: default;
	}
	.nav button{
		display: none;
	}
	.front *{
		margin-left: 25px;
		margin-right: 25px;
	}
	.front .name{
		transform: translateY(150px);
		font-size: 50px;
		width: 280px;
	}
	.front img{
		height: 440px;
	}
	.name1{
		display: none;
	}
}
@media (max-width: 1024px){
	.nav{
		justify-content: center;
		padding: 30px;
	}
	.nav a{
		cursor: default;
	}
	.navbtn{
		display: none;
	}
	.subnav{
		visibility: hidden;
	}
	.front{
		padding-top: 125px;
		padding-bottom: 60px;
	}
	.front .name{
		display: none;
	}
	.front img{
		height: unset;
		width: 90%;
	}
	.links{
		display: block;
	}
	.links a{
		cursor: default;
	}
	.about img{
		width: 195px;
	}
	.proj{
		flex-wrap: wrap;
	}
	.proj img{
		width: 335px;
	}
	.proj div{
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.proj div a{
		margin: 0 auto;
	}
	.proj p{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
#progress-bar {
	--scrollAmount: 0%;
	
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
	background-image: linear-gradient(120deg, #64e8de 0%, #7a64eb 100%);
/* 	background-image: linear-gradient(120deg, #7fd9f9, #787ff6); */
	width: var(--scrollAmount);
	height: 5px;
	position: fixed;
	z-index: 20;
	color: #f1f1ea;
}
