*{
	padding: 0;
	margin: 0;
	font-family: 'Cabin';
	letter-spacing: 1px;
}
button{
	border: none;
	outline: none;
	background-color: transparent;
}
.nav{
	user-select: none;
	z-index: 10;
	position: sticky;
	top: 0;
	max-width: 100vw;
	background-color: #00000078;
	padding: 17px 120px 17px 120px;
	box-sizing: padding-box;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	box-shadow: 0 5px 5px #00000020;
}
.nav button{
	cursor: default;
	position: fixed;
	top: 30px;
	left: 30px;
	font-size: 23px;
	color: #ffffffd0;
}
.nav a{
	text-decoration: none;
	color: #ffffffd0;
	font-size: 23px;
	cursor: pointer;
}
.navbtn a{
	box-sizing: padding-box;
	padding: 6px;
	font-size: 18px;
	margin-left: 15px; margin-right: 15px;
}
#curr{
	border-bottom: 1px solid #ffffffd0;
	background: linear-gradient(120deg, #7a64eb 0%, #64e8de 100%);
	-webkit-background-clip: text;
	font-weight: 800;
	-webkit-text-fill-color: transparent;
}
.subnav{
	display: none;
	position: fixed;
	z-index: 10;
	right: 120px;
	list-style: none;
	background-color: #000000a0;
	padding: 18px;
	line-height: 31px;
	border-radius: 5px;
	box-shadow: -3px 3px 6px #00000030;
}
.subnav a{
	font-size: 17px;
	text-decoration: none;
	color: #ffffffc0;
}
.subnav i{
	width: 25px;
}
.menu{
	user-select: none;
	padding: 50px;
	z-index: 31;
	position: fixed;
	transition: 0s;
	right: 100vw;
	top: 0;
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	background-color: #000000c0;
	line-height: 70px;
	font-size: 25px;
}
.menu a{
	text-decoration: none;
	color: #ffffffc0;
	cursor: default;
}
.menu hr{
	border: none;
	width: calc(100vw - 90px);
	background-color: #ffffff30;
	height: 2px;
}
.menu button{
	cursor: default;
	color: #ffffffc0;
	font-size: 23px;
	position: absolute;
	left: calc(100vw - 70px);
}
.submenu{
	display: none;
	list-style: none;
	line-height: 31px;
}
.submenu i{
	width: 28px;
}
.submenu a{
	cursor: default;
	font-size: 18px;
	color: #ffffff78;
}
.front{
	margin-top: -95px;
	background: url(img/nampicblur.jpg);
	background-size: 100% 100%;
	padding-top: 150px;
	padding-bottom: 65px;
	font-weight: 600;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.front *{
	margin-left: 35px;
	margin-right: 35px;
	letter-spacing: 2px;
	color: #fffffff0;
}
.front .name{
	padding-left: 30px;
	height: max-content;
	font-size: 60px;
	width: 365px;
	border-left: 2px solid #ffffffc0;
}
.front .name1{
	margin-top: 30px;
	text-align: center;
	padding-bottom: 20px;
	height: max-content;
	font-size: 43px;
	width: 290px;
	border-bottom: 2px solid #ffffffc0;
}
.ftr{
	background-color: #181818;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 70px;
	font-family: 'Cabin';
	line-height: 39px;
}
.copy{
	font-size: 16px;
	color: #ffffffc0;
}
.links{
	font-size: 18px;
	line-height: 30px;
	display: inline-flex;
	list-style: none;
}
.links a{
	text-decoration: none;
	color: #fff;
	margin-left: 10px;
	margin-right: 10px;
}
.links a:hover{
}
.section{
	text-align: center;
	padding: 40px 30px 58px 30px;
	/*background-color: #2d2d30;*/
	background-color: #fff;
	box-sizing: border-box;
}
.about{
	background-image: radial-gradient(125% 65% at top left, #e8f2ff 82%, #fff 82%);
}
h1{
	font-weight: normal;
	text-align: left;
	font-size: 25px;
	width: 80%;
	margin: 0 auto;
	color: #ffffff;
	padding: 12px 12px 12px 17px;
	/*background-image: linear-gradient(90deg, #7a64eb 0%, #f1f1ea00 100%);*/
	background-image: linear-gradient(120deg, #7a64eb 0%, #64e8de 100%);
	border-radius: 55px;
}
.ctn{
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 40px;
}
.subctn img{
	height: 225px;
	border-radius: 15px;
}
.subctn{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: -50px;
	z-index: 1;
}
.about p{
	text-align: left;
	padding: 115px 21px 125px 71px;
	font-size: 18px;
	border-radius: 15px;
	height: max-content;
	max-width: 475px;
	margin-bottom: 0;
	/*background-color: #3e3e42;*/
	background-color: #fff;
	box-shadow: 0 5px 15px #00000030;
}
.skillsets{
	padding: 25px;
	padding-bottom: 25px;
	padding-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	box-sizing: border-box;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}
.sk{
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*background-color: #dfdfd8;*/
	/*background-color: #3e3e42;*/
	background-color: #fff;
	box-shadow: 0 5px 15px #0000002a;
	text-align: center;
	height: 100px; width: 100px;
 	border-radius: 15px; 
	margin: 15px 8px 15px 8px;
	opacity: 0;
	overflow: hidden;
	background: linear-gradient(120deg, #7a64eb 0%, #64e8de 100%);
	-webkit-background-clip: text;
	font-weight: 800;
	-webkit-text-fill-color: transparent;
}
.sk span{
	display: none;
	/*position: fixed;
	width: 100%;
	text-align: center;
	font-size: 21px;
	font-weight: bold;
	user-select: none;
	transition: 0.2s;*/
}
.sk i{
	font-size: 65px;
	/*color: #efefe8;*/
	color: #2d2d30;
	color: #d0d3e0;
}
.sk:hover i{
	font-size: 71px;
}
.sk:hover span{
	animation: 0.2s showsk linear;
	color: transparent;
	transform: translateX(-40px);
}
@keyframes showsk{
	0%{color: #181818; transform: translateX(0px);}
	100%{color: transparent; transform: translateX(80px);}
}
.proj{
	margin-top: 40px;
	display: inline-flex;
	flex-wrap: nowrap;
	justify-content: center;
}
.proj *{
	margin-left: 10px;
	margin-right: 10px;
}
h2{
	font-weight: normal;
}
.proj img{
	border-radius: 10px;
}
.proj div{
	box-sizing: border-box;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 40%;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.see a{
	padding: 8px;
	border-radius: 8px;
	width: max-content;
	text-decoration: none;
	color: #181818;
	box-shadow: 0 3px 10px #0000003a;
	transition: box-shadow 0.5s;
	color: #fff;
	background: linear-gradient(-60deg, #7a64eb 0%, #64e8de 100%);
}
.see a:hover{
	box-shadow: 0 3px 10px #0000003a, inset 0 0 0px 20px #6fa6e5;
}
.see a:nth-child(2){
	background: linear-gradient(-60deg, #181528 0%, #181528 100%);
}
.see{
	padding: 0;
	margin: 0;
}
.see *{
	margin-left: 3px; margin-right: 3px;
}

@media (min-width: 1200px){
	.nav button{
		display: none;
	}
	.name{
		transform: translateY(145px);
	}
	.name1{
		display: none;
	}
}
@media (max-width: 1199px) and (min-width: 1025px){
	.nav a{
		cursor: default;
	}
	.nav button{
		display: none;
	}
	.front *{
		margin-left: 20px;
		margin-right: 20px;
	}
	.front .name{
		transform: translateY(140px);
		font-size: 50px;
		width: 310px;
	}
	.front img{
		height: 440px;
	}
	.name1{
		display: none;
	}
}
@media (max-width: 1024px){
	.nav{
		justify-content: center;
		padding: 30px;
	}
	.nav a{
		cursor: default;
	}
	.navbtn{
		display: none;
	}
	#curr{
		border-bottom: none;
	}
	.subnav{
		visibility: hidden;
	}
	.front{
		padding-top: 125px;
		padding-bottom: 60px;
	}
	.front .name{
		display: none;
	}
	.front img{
		height: unset;
		width: 90%;
	}
	.links{
		display: block;
	}
	.links a{
		cursor: default;
	}
	.about{
		background-image: radial-gradient(150% 45% at top left, #e8f2ff 82%, #fff 82%);
	}
	.ctn{
		display: block;
	}
	.ctn *{
		margin: 0 auto;
	}
	.subctn img{
		border-radius: 50%;
	}
	.about p{
		padding: 20px;
		padding-top: 40px;
		padding-bottom: 30px;
		text-align: center;
		width: calc(70% + 20px);
		margin-top: -25px;
	}
	.skillsets{
		max-width: 520px;
	}
	.sk{
		margin: 15px 15px 15px 15px;
	}
	.proj{
		flex-wrap: wrap;
		background-image: radial-gradient(150% 45% at bottom right, #e8f2ff99 82%, #fff 82%);
		border-radius: 10px;
	}
	.proj img{
		width: 98%;
	}
	.proj div{
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.see{
		margin: 0 auto;
	}
	.see a{
		cursor: default;
	}
	.proj p{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
#progress-bar {
	--scrollAmount: 0%;
	
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
	background-image: linear-gradient(120deg, #64e8de 0%, #7a64eb 100%);
/* 	background-image: linear-gradient(120deg, #7fd9f9, #787ff6); */
	width: var(--scrollAmount);
	height: 5px;
	position: fixed;
	z-index: 30;
}
