*{
	padding: 0;
	margin: 0;
	font-family: 'Cabin';
	letter-spacing: 1px;
	scroll-behavior: smooth;
}
button{
	border: none;
	outline: none;
	background-color: transparent;
}
.nav{
	user-select: none;
	z-index: 10;
	position: sticky;
	top: 0;
	max-width: 100vw;
	background-color: #00000078;
	padding: 17px 120px 17px 120px;
	box-sizing: padding-box;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	box-shadow: 0 3px 9px #00000030;
}
.nav button{
	cursor: default;
	position: fixed;
	top: 30px;
	left: 30px;
	font-size: 23px;
	color: #ffffffd0;
}
.nav a{
	text-decoration: none;
	color: #ffffffd0;
	font-size: 23px;
	cursor: pointer;
}
.navbtn a{
	box-sizing: padding-box;
	padding: 5px;
	font-size: 18px;
	margin-left: 15px; margin-right: 15px;
}
#curr{
	border-bottom: 1px solid #ffffffd0;
	background: linear-gradient(120deg, #7a64eb 0%, #64e8de 100%);
	-webkit-background-clip: text;
	font-weight: 800;
	-webkit-text-fill-color: transparent;
}
.subnav{
	display: none;
	position: fixed;
	z-index: 10;
	right: 120px;
	list-style: none;
	background-color: #000000a0;
	padding: 18px;
	line-height: 31px;
	border-radius: 0 0 9px 9px;
	box-shadow: -3px 3px 6px #00000030;
}
.subnav a{
	font-size: 17px;
	text-decoration: none;
	color: #ffffffc0;
}
.subnav i{
	width: 25px;
}
.menu{
	user-select: none;
	padding: 50px;
	z-index: 31;
	position: fixed;
	transition: 0s;
	right: 100vw;
	top: 0;
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	background-color: #000000c0;
	line-height: 70px;
	font-size: 25px;
}
.menu a{
	text-decoration: none;
	color: #ffffffc0;
	cursor: default;
}
.menu hr{
	border: none;
	width: calc(100vw - 90px);
	background-color: #ffffff30;
	height: 2px;
}
.menu button{
	cursor: default;
	color: #ffffffc0;
	font-size: 23px;
	position: absolute;
	left: calc(100vw - 70px);
}
.submenu{
	display: none;
	list-style: none;
	line-height: 31px;
}
.submenu i{
	width: 28px;
}
.submenu a{
	cursor: default;
	font-size: 18px;
	color: #ffffff78;
}
.front{
	margin-top: -95px;
	background: url(img/nampicblur.jpg);
	background-size: 100% 100%;
	padding-top: 150px;
	padding-bottom: 60px;
	font-weight: 600;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.front *{
	margin-left: 35px;
	margin-right: 35px;
	letter-spacing: 2px;
	color: #fffffff0;
}
.front .name{
	padding-left: 30px;
	height: max-content;
	font-size: 60px;
	width: 365px;
	border-left: 2px solid #ffffffc0;
}
.front .name1{
	margin-top: 30px;
	text-align: center;
	padding-bottom: 20px;
	height: max-content;
	font-size: 43px;
	width: 290px;
	border-bottom: 2px solid #ffffffc0;
}
.front a{
	font-weight: 500;
	text-decoration: none;
	margin-top: 20px;
	font-size: 19px;
	display: none;
}
.ftr{
	background-color: #181818;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 70px;
	font-family: 'Cabin';
	line-height: 39px;
}
.copy{
	font-size: 16px;
	color: #ffffffc0;
}
.links{
	font-size: 18px;
	line-height: 30px;
	display: inline-flex;
	list-style: none;
}
.links a{
	text-decoration: none;
	color: #fff;
	margin-left: 10px;
	margin-right: 10px;
}
.links a:hover{
}
.section{
	text-align: center;
	padding: 40px 30px 50px 30px;
	/*background-color: #2d2d30;*/
	background-color: #fff;
	box-sizing: border-box;
}
.skills{
	background-image: linear-gradient(
		105deg, 
		#fff 74%,

		#6CB8E366 74%,
		#6CB8E366 76%,

		#6EACE499 76%,
		#6EACE499 79%,

		#70A0E5cc 79%,
		#70A0E5cc 83%,

		#7294E6 83%
	);
}
.about{
	background-image: radial-gradient(125% 60% at top left, #cce2ff 82%, #fff 82%);
}
h1{
	text-align: left;
	font-size: 28px;
	width: 80%;
	margin: 0 auto;
	color: #ffffff;
	padding: 12px 20px 12px 20px;
	background-image: linear-gradient(120deg, #7a64eb 0%, #64e8de 100%);
	border-radius: 55px;
}
.ctn{
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 40px;
}
.subctn img{
	height: 225px;
}
.subctn{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: -53px;
	z-index: 1;
}
.about p{
	text-align: left;
	padding: 95px 21px 105px 74px;
	font-size: 18px;
	border-radius: 15px;
	height: max-content;
	max-width: 475px;
	margin-bottom: 0;
	/*background-color: #cce2ff;*/
	background-color: #ffffff50;
	box-shadow: 0 3px 4px #00000030;
	-webkit-backdrop-filter: blur(9px);
	backdrop-filter: blur(9px);
}
.skillsets{
	padding: 25px;
	padding-bottom: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	box-sizing: border-box;
	width: max-content;
	max-width: 960px;
	margin: 0 auto;
}
.sk{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #fff;
	box-shadow: 0 3px 4px #00000030;
	text-align: center;
	height: 95px; width: 95px;
 	border-radius: 15px; 
	margin: 15px 12px 15px 12px;
	opacity: 0;
	overflow: hidden;
	background: linear-gradient(120deg, #7a64eb 0%, #64e8de 100%);
	-webkit-background-clip: text;
	font-weight: 500;
	-webkit-text-fill-color: transparent;
}
.sk span{
	text-align: center;
	font-size: 23px;
}
.sk:hover span{
	font-size: 25px;
}
.sk i{
	font-size: 58px;
}
.sk:hover i{
	font-size: 63px;
}
.section h2:nth-of-type(2){
	margin-top: 25px;
}

.project{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%236CB8E3'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%237A64EB'/%3E%3Cstop offset='1' stop-color='%236EACE4'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='22.77'%3E%3Cpath transform='translate(-45.5 10.4) rotate(6.5 1409 581) scale(1.026)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='7.590000000000001' transform='translate(-26 26) rotate(7.8 800 450) scale(1.013)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(23.4 -78) rotate(78 401 736) scale(1.013)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='6.9'%3E%3Cpath transform='translate(156 -10.4) rotate(2.6 150 345) scale(0.974)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='15.180000000000001' transform='translate(-104 -65) rotate(93.6 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-156 52) rotate(15.6 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-size: contain;
	background-repeat: no-repeat;
}
.projs-grid{
	background: #70A0E515;
	border-radius: 20px;
	width: 83%;
	padding: 38px;
	box-sizing: border-box;
	margin: 40px auto 5px;
	display: grid;
	gap: 25px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 210px);
	box-shadow: 0 3px 10px #00000030;
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
}
.projs-grid *{
	border-radius: 10px;
	box-shadow: 0 3px 4px #00000030;
	overflow: hidden;
	background: #ffffff28;
}
.projs-grid img{
	border-radius: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: transform 0.3s ease-in-out;
}
.projs-grid img:hover{
	transform: scale(1.15);
}
.projs-grid span{
	z-index: 2;
	border-radius: 0 18px 18px 0;
	font-size: 19px;
	position: absolute;
	padding: 8px 10px 8px 10px;
	background: #576A9A;
	color: #fff;
	margin-top: 18px; margin-left: -5px;
}
.grid-span-2{
	grid-column: span 2;
}
.grid-span-4-1{
	grid-column-start: 4;
	grid-row-start: 1;
	grid-row-end: 3;
}
.proj{
	padding-top: 40px;
	display: inline-flex;
	flex-wrap: nowrap;
	justify-content: center;
}
.proj *{
	margin-left: 10px;
	margin-right: 10px;
}
h2{
	font-weight: normal;
}
.proj img{
	background: #fff;
	border-radius: 15px;
	box-sizing: border-box;
	border-top: 20px solid #fff;
	border-bottom: 37px solid #fff;
	box-shadow: 0 2px 7px #00000030;
}
.proj div{
	box-sizing: border-box;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 40%;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.see a{
	padding: 8px;
	border-radius: 8px;
	width: max-content;
	text-decoration: none;
	box-shadow: 0 2px 7px #00000050;
	transition: box-shadow 0.5s;
	color: #fff;
	background: linear-gradient(-60deg, #7a64eb 0%, #64e8de 100%);
}
.see a:hover{
	box-shadow: 0 3px 10px #00000080, inset 0 0 0px 20px #6fa6e5;
}
.see a:nth-child(2){
	background: linear-gradient(-60deg, #181528 0%, #181528 100%);
}
.see{
	padding: 0;
	margin: 0;
}
.see *{
	margin-left: 3px; margin-right: 3px;
}
#progress-bar {
	--scrollAmount: 0%;
	
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
	background-image: linear-gradient(120deg, #64e8de 0%, #7a64eb 100%);
	width: var(--scrollAmount);
	height: 4px;
	position: fixed;
	top: 0;
	z-index: 30;
}

@media (min-width: 1200px){
	.nav button{
		display: none;
	}
	.name{
		transform: translateY(145px);
	}
	.name1{
		display: none;
	}
}
@media (max-width: 1199px) and (min-width: 1025px){
	.nav a{
		cursor: default;
	}
	.nav button{
		display: none;
	}
	.front *{
		margin-left: 20px;
		margin-right: 20px;
	}
	.front .name{
		transform: translateY(140px);
		font-size: 50px;
		width: 310px;
	}
	.front img{
		height: 440px;
	}
	.name1{
		display: none;
	}
	.projs-grid{
		width: 83%;
		padding: 25px;
		gap: 23px;
		grid-template-rows: repeat(2, 205px);
	}
	.projs-grid span{
		font-size: 18px;
	}
}
@media (max-width: 1024px){
	.nav{
		justify-content: center;
		padding: 30px;
	}
	.nav a{
		cursor: default;
	}
	.navbtn{
		display: none;
	}
	#curr{
		border-bottom: none;
	}
	.subnav{
		visibility: hidden;
	}
	.front{
		padding-top: 125px;
		padding-bottom: 45px;
	}
	.front .name{
		display: none;
	}
	.front img{
		height: unset;
		width: 90%;
	}
	.links{
		display: block;
	}
	.links a{
		cursor: default;
	}
	.section{
		padding: 35px 25px 45px 25px;
	}
	.about{
		background-image: radial-gradient(150% 45% at top left, #cce2ff 82%, #fff 82%);
	}
	.ctn{
		display: block;
	}
	.ctn *{
		margin: 0 auto;
	}
	.about p{
		padding: 20px;
		padding-top: 40px;
		padding-bottom: 30px;
		text-align: center;
		width: calc(80% + 20px);
		margin-top: -25px;
		-webkit-backdrop-filter: unset;
		backdrop-filter: unset;
	}
	.skills{
		background-image: linear-gradient(
			-190deg, 
			#fff 78%,

			#6CB8E322 78%,
			#6CB8E322 81%,

			#6EACE466 81%,
			#6EACE466 85%,

			#70A0E5aa 85%,
			#70A0E5aa 90%,

			#7294E6 90%
			);
	}
	.skillsets{
		width: 100%;
		max-width: 520px;
	}
	.sk{
		margin: 10px 2px 10px 2px;
		height: 90px; width: 90px;
	}
	.projs-grid{
		width: 83%;
		padding: 23px;
		gap: 22px;
		grid-template-rows: repeat(2, 200px);
	}
	.projs-grid span{
		font-size: 16px;
	}
	.proj{
		flex-wrap: wrap;
		background-image: radial-gradient(150% 45% at bottom right, #cce2ff99 82%, #fff 82%);
		border-radius: 15px;
	}
	.proj img{
		width: 98%;
	}
	.proj div{
		width: 100%;
		margin: 0 auto;
	}
	.see{
		margin: 0 auto;
	}
	.see a{
		cursor: default;
	}
	.proj p{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#progress-bar {
		height: 5px;
	}
}

@media (max-width: 500px){
	.front a{
		margin-top: 30px;
		border-bottom: none;
		padding: 0;
		display: block;
		cursor: default;
	}
	.project{
		background-image: none;
	}
	.projs-grid{
		display: none;
	}
}
