/* @font-face {
  font-family: "suisse";
  src: url("/fonts/suisse/SuisseIntl-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "suisse";
  src: url("/fonts/suisse/SuisseIntl-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "suisse";
  src: url("/fonts/suisse/SuisseIntl-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "suisse";
  src: url("/fonts/suisse/SuisseIntl-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
} */

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Poppins;
}

.site-ani__fade-in {
  opacity: 0;
  transition: opacity 1s;
}

.site-ani__fade-in.state-ani-go {
  opacity: 1;
}

.site-ani__slide-up {
  transform: translateY(20px);
  opacity: 0;
  transition: opacity 1s, transform 1s;
}

.site-ani__slide-up.state-ani-go {
  transform: none;
  opacity: 1;
}

.site-ani__pop-in {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 1s, transform 1s;
}

.site-ani__pop-in.state-ani-go {
  opacity: 1;
  transform: none;
}

.revealing-image {
  view-timeline-name: --subjectReveal;
  animation-timeline: --subjectReveal;

  animation-name: appear;
  animation-fill-mode: both;
  animation-duration: 1ms;
  animation-range: entry 25% cover 50%;
}

.parallax-image {
  view-timeline-name: --subjectParallax;
  animation-timeline: --subjectParallax;

  animation-name: vertical-translate;
  animation-fill-mode: both;
  animation-duration: 1ms;
  animation-range: entry 0% cover 100%;
}

.parallax-image--large {
  view-timeline-name: --subjectParallaxLarge;
  animation-timeline: --subjectParallaxLarge;

  animation-name: vertical-translate--large;
  animation-fill-mode: both;
  animation-duration: 1ms;
  animation-range: entry 90% cover 120%;
}

@keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(0% 50% 0% 50%);
  }
  to {
    opacity: 1;
    clip-path: inset(0% 0% 0% 0%);
  }
}

@keyframes vertical-translate {
  from {
    transform: translateY(-90px);
    clip-path: inset(90px 0% 0);
  }
  to {
    transform: translateY(0px);
    clip-path: inset(0 0% 90px);
  }
}

@keyframes vertical-translate--large {
  from {
    transform: translateY(-110px);
    clip-path: inset(110px 0% 0);
  }
  to {
    transform: translateY(0px);
    clip-path: inset(0 0% 110px);
  }
}
